{% extends 'base.html' %}
{% block nav_bar_content %} 
<a class="brand" href="#">{{first_name}}</a>
<ul style="float:right" class="nav">
    <li><a href="{% url logout %}">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div>
	<ul class="thumbnails">
	  <li class="span12">
	  	<form class="form-horizontal" action="" method="post">{% csrf_token %}
		  <div class="control-group">
		    <label class="control-label" for="id_title"></label>
		    <div class="controls">
		      <input type="text" name="title" id="id_title" placeholder="Question Title">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="id_content"></label>
		    <div class="controls">
		      <input type="text" name="content" id="id_content" placeholder="Description">
		    </div>
		  </div>
		  <div class="control-group">
		    <input type="submit" class="btn" name="Qloo!"/>
		  </div>
		</form>
	  </li>
	</ul>
</div>
<div>
	<ul>
		{% for question in questions %}
    		<li>{{ question.user.username }} asked {{ question.title }}</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}