{% extends 'base.html' %}

{% block nav_bar_content %}
<div>
    <form class="navbar-form pull-right" method="POST" action="{% url login %}"> {% csrf_token %}
      <input type='text' name='username' placeholder='username'/>
      <input type='password' name='password' placeholder='password'/>
      <input class='btn btn-inverse' type='submit' value='Login' style="color:#DCE419;" />
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
      <!--Sidebar content-->
        <form class="form-vertical" id="registerHere" method='post' action='/register/'>{% csrf_token %}
        <fieldset>

        <legend>Don't have an account?</legend>

        <div class="control-group">
        <div class="controls">
        <input type="text" class="input-block-level" id="user_name" name="username" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name" placeholder="Username">


        <div class="control-group">
        <div class="controls">
        <input type="text" class="input-block-level" id="user_email" name="email" rel="popover" data-content="What’s your email address?" data-original-title="Email" placeholder="Email">

        <div class="control-group">
        <div class="controls">
        <input type="password" class="input-block-level" id="user_password" name="password" rel="popover" data-content="What’s your email address?" data-original-title="Password" placeholder="Password">

        <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
        <button type="submit" class="btn btn-inverse" style="color:#DCE419;">Create My Account</button>
        </div>
        </div>

        </fieldset>
        </form>
      </div> 
 


    </div>
    <div class="span8">
      <!--Body content-->
      <div class="hero-unit">
        <h1 style="margin-bottom:15px">Quaterloo!</h1>
        <p>A great solution to all of the collaboration problems in universities.</p>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Do something.</h2>
           <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
        </div>
        <div class="span4">
          <h2>Do something else.</h2>
           <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
       </div>
        <div class="span4">
          <h2>Cheat on assignments.</h2>
          <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
        </div>
      </div>
      <!--End body-->
    </div>
  </div>
</div>
{% endblock %}